/* IMPORT FONT FAM */
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

/* GENERAL RULES */
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  font-family: "merriweather";
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.nav-input {
  display: flex;
  align-items: center;
  width: 796px;
  margin-right: 30px;
}
.nav-input input {
  width: 100%;
  height: 39px;
  background-color: #f5f6f7;
  border: none;
  outline: none;
  color: #dedfe0;
  font-size: 16px;
  border-radius: 5px;
}
nav img {
  width: 102px;
  height: 40px;
  margin-right: 30px;
}

.nav-input svg {
  color: #bbbbbb;
  background-color: #f5f6f7;
  margin-right: 10px;
  font-size: 16px;
}

.research-container {
  width: 633px;
  background-color: #f5f6f7;
  padding-left: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

/* BUTTONS */
.btns,
.btn-logs {
  display: flex;
}

.btn-logs button {
  background-color: white;
  border: solid #2cb1ba 1px;
  color: #2cb1ba;
}

.btn-logs > a button {
  margin-right: 10px;
}

.btns button {
  width: 114px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
}
.btn-sell button {
  background-color: #2cb1ba;
  border: none;
  color: white;
  margin-left: 60px;
  font-size: 12px;
}
.btns .btn-disconnect {
  color: white;
  background-color: #c2175b;
  border: none;
  margin-right: 51px;
}

/* HOME PAGE */

.banner {
  margin-top: 40px;
  height: 454px;
  position: relative;
}

.banner img {
  width: 100%;
  height: 100%;
}

.block {
  width: 410px;
  height: 272px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  top: 90px;
  left: 360px;
  border: #cccccc solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 35px 0 25px;
}
.block > p {
  margin-bottom: 30px;
  color: black;
  font-size: 38px;
  font-weight: 590;
}
.block > button {
  width: 188px;
  height: 45px;
  background-color: #2cb1ba;
  border: none;
  color: white;
  border-radius: 4px;
}

/* USERS - BOX */

.users-container {
  display: flex;

  flex-wrap: wrap;
}

.user-box {
  margin-top: 28px;
}

.avatar-box {
  display: flex;
  align-items: center;
}
.avatar-box > img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  margin-right: 10px;
  margin-left: 20px;
}

.avatar-box > p {
  color: #999999;
  font-size: 12px;
}

.product-pic img {
  width: 235px;
  height: 360px;
  padding: 0 5px;
}

.product-infos {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.product-infos > span {
  margin-bottom: 4px;
}

.product-infos > span:nth-child(1) {
  font-size: 14px;
}

.product-infos > span:nth-child(2),
.product-infos > span:nth-child(3) {
  color: #999999;
  font-size: 12px;
}

/* OFFER PAGE */

.Offer {
  background-color: #ebedee;
  width: 100%;
  height: 100vh;
}
.offer-box {
  max-width: 1084px;
  height: 650px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.left {
  width: 455px;
  height: 100%;
}
.left > img {
  width: 100%;
  height: 100%;
}

.right {
  width: 400px;
  height: 100%;
  background-color: white;
  padding: 30px 40px;
  position: relative;
}

.product-details > p {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}

.product-details li {
  display: flex;
}
.product-details li > span:nth-child(odd) {
  color: #999999;
  font-size: 14px;
  flex: 1 1;
}
.product-details li > span:nth-child(even) {
  color: #666666;
  flex: 1 1;
  font-size: 14px;
  font-weight: bold;
}
.product-details li > span {
  margin-bottom: 10px;
}
.line {
  margin: 45px 0;
  border-bottom: solid 1px #9999;
}
.offer-descp > p {
  font-size: 18.5px;
}
.offer-descp > p:first-child {
  font-weight: bold;
  margin-bottom: 20px;
}
.offer-descp > p:nth-child(2) {
  color: #666666;
  margin-bottom: 20px;
}
.offer-avatar {
  display: flex;
  align-items: center;
}
.offer-avatar > img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  margin-right: 10px;
}
.offer-avatar > p {
  font-size: 18px;
}
.right > button {
  width: 100%;
  height: 37px;
  color: white;
  background-color: #2cb1ba;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 60px;
}

/* SIGNUP PAGE */

.signup-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}

.signup-box > h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 30px 0;
}
.signup-box > form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 275px;
}

.signup-box input {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
  outline: none;
}

.checkbox {
  display: flex;
  height: auto;
  align-items: center;
}

.checkbox input {
  transform: scale(2);
  margin-right: 20px;
}

.checkbox > span {
  font-size: 20px;
  padding-bottom: 15px;
  color: #848484;
}

.terms {
  font-size: 15px;
  color: #999999;
  text-align: justify;
  padding-bottom: 40px;
}
form > button {
  height: 47px;
  color: white;
  background-color: #2cb1ba;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
form > :last-child {
  font-size: 15px;
  color: #2cb1ba;
  margin-top: 20px;
}

.login button {
  margin-top: 20px;
}
